﻿<ion-view>
    <ion-content>
        <div class="padding">
            <h2 id="logo">ACHERON</h2>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Mobile Number</span>
                <input type="text" ng-model="number">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="login(number)">
                Sign-In
            </button>
        </div>
    </ion-content>
</ion-view>