<ion-view view-title="Orders">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh"
                       refreshing-text="Loading..."
                       refreshing-icon="ion-loading-c"
                       pulling-icon="ion-ios7-arrow-thin-down"
                       on-refresh="getOrders()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-avatar item-icon-right" ng-repeat="Order in Orders" type="item-text-wrap" href="#/tab/orders/{{Order.OrderId}}">
                <img ng-src='img/ben.png'>
                <h2 style="padding-bottom:1px">{{Order.OrderName}}</h2>
                <ul class={{Order.Status}}><li><span>{{Order.OrderDate | date: 'dd/MM/yyyy HH:mm a' }}</span></li></ul>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-balanced">
                    Call Driver
                </ion-option-button>
            </ion-item>
            <div ng-show="!Orders.length"><p class="padding">{{message}}</p></div>
        </ion-list>
    </ion-content>
</ion-view>
