﻿.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

ul.Placed li {
    color: red;
    list-style-type: disc;
    margin-left: 1em;
}

ul.Started li {
    color: yellow;
    list-style-type: disc;
    margin-left: 1em;
}

ul.Delivered li {
    color: green;
    list-style-type: disc;
    margin-left: 1em;
}

ul li span {
    color: black;
    font-size: 15px;
}

#logo{
    color: #289ad8;
    text-align: center;
    margin-top: 40%;
}